@tailwind base;
@tailwind utilities;
@tailwind components;

body {
    background-color: rgb(30 41 59);
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
*{
    box-sizing: border-box;
}